/*
 * Helpful mixins
 */

 // Mixin for creating media queries
 @mixin breakpoint($min-width: null, $min-height: null, $medium: screen) {
   @if ($min-width != null and $min-height != null) {
     @media #{$medium} and (min-width: $min-width) and (min-height: $min-height) {
       @content;
     }
   } @else
   if ($min-width != null and $min-height == null) {
     @media #{$medium} and (min-width: $min-width) {
       @content;
     }
   } @else
   if ($min-width == null and $min-height != null) {
     @media #{$medium} and (min-height: $min-height) {
       @content;
     }
   }
 }


@mixin full-absolute() {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
};
